# Always set these headers.
Header always set Access-Control-Allow-Origin "http://localhost:3000"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
#    RewriteBase /Users/programmer/Work/Sites/silex-test/web/
    RewriteBase /

#    RewriteCond %{REQUEST_METHOD} OPTIONS
#    RewriteRule ^(.*)$ $1 [R=201,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
